<div class="container">
  <div class="row">
    <header class="col-md-12">
      <h1><a href="/">Junkmail</a></h1>
    </header>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li>{{#link-to 'inboxmessages'}}Inbox{{/link-to}}</li>
        <li>{{#link-to 'messages'}}Outgoing{{/link-to}}</li>
        <li>{{#link-to 'new-message'}}Compose{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
