<div class="container">
  <div class="row">
    <header class="col-md-12">
      <h1>Junkmail</h1>
    </header>
  </div>

  <div class="row">
    <div class='col-md-12'>
      {{outlet}}
    </div>
  </div>
</div>
