<div class="row">
  <div class="col-md-12">

    <table>
      <tr>
        <th class="box-list">From</th>
        <th class="box-list">Title</th>
        <th class="box-list">Date</th>
      </tr>
      <tr>
        <td class="box-list">dex_the_trashman@junkmail.com</td>
        <td class="box-list">{{#link-to 'welcome'}}Welcome to Junkmail! - A message from the moderator{{/link-to}}</td>
        <td class="box-list">03/06/2015</td>
      </tr>
    </table>

  </div>
</div>
