<div class="row">
  <div class="col-md-12">

    <ul class="list-unstyled">
        <li>{{#link-to 'welcome'}}Click{{/link-to}}</li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{outlet}}
  </div>
</div>
