<table>
  <tr>
    <td>From:</td>
    <td></td>
  </tr>
  <tr>
    <td>To:</td>
    <td></td>
  </tr>
  <tr>
    <td>Title:</td>
    <td></td>
  </tr>
  <tr>
    <td>Date:</td>
    <td></td>
  </tr>
</table>
