<table>
  <tr>
    <th>From:</th>
    <td><a href="mailto:dex_the_trashman@junkmail.com">dex_the_trashman@junkmail.com</a></td>
  </tr>
  <tr>
    <th>To:</th>
    <td>You!</td>
  </tr>
  <tr>
    <th>Title:</th>
    <td>Welcome to Junkmail! - A message from the moderator</td>
  </tr>
  <tr>
    <th>Date:</th>
    <td>03/06/2015</td>
  </tr>
</table>

<hr>

<p>
  Well, I just don't know. I frustration-quit for the first time on an
  assessment. I spent hours just trying to figure out why my messages aren't
  displaying, and it's probably something small and stupid, but I can't see it,
  and I don't know Ember well enough to know where to look.
</p>

<p>
  Investigating with Ember Inspector, it seems like my records are being saved
  fine. I'm genuinely baffled as to why they're not showing up. I just hope I
  can fix it this coming week. I would benefit from being able to see someone
  point out the paths the logic is following - how everything is hooking up,
  and what makes it work. It's apparently just not clicking for me, and this is
  making me extremely anxious looking forward to Rails - another MVC, and from
  what I gather, it often has something like Ember or Angular on top of it. I
  feel like this is a really fundamental and foundational piece of web design
  and I'm terrified of skating through the rest of the course without ever
  really grasping it.
</p>
